/* 
    Dark StyleSheet
    Author : SAH256
*/

@import "vars";


* QLabel {
    color : $on-background;
}



/* Button widget */
QPushButton {
    padding : 6px 10px;
    border-radius : 4px;
    border : 2px solid transparent;
    outline : none;
    background-color : $secondary-color;
    color : $on-secondary;

    font-family : Arial;
    font-size : 14px;

    &:disabled {
        background-color : #4b4b4b;
        color : #888;
    }

    &:hover {
        background-color : #6d6d6d;
    }

    &:focus {
        background-color: transparent;
        border-color: #b9b9b9;
        color: #b9b9b9;
    }

    &:pressed {
        background-color : #444;
        color : #777;
        border : none;
    }

    &:menu-indicator {
        width : 10px;
        height : 100%;
        subcontrol-position : right center;
        subcontrol-origin : padding;

        image : url("assets/Icons/Default/Other/arrow_down_white.png");
        padding : 2px 5px 2px 0px;
    }

    &[css-class = "confirm"] {
        background-color : $accent-color;
        color : $on-accent;

        &:disabled {
            background-color : #4b4b4b;
            color : #888;
        }

        &:focus {
            background-color: transparent;
            border-color: $accent-color;
            color : $accent-color;
        }

        &:pressed {
            background-color : #118be9;
            border : none;
            color : #444;
        }
    }

    &[css-class = "danger"] {
        background-color : $error-color;
        color : $on-error;

        &:disabled {
            background-color : #4b4b4b;
            color : #888;
        }

        &:focus {
            background-color: transparent;
            border-color: $error-color;
            color : $error-color;
        }

        &:pressed {
            background-color : transparent;
            color : $error-color;
            border : none;
        }
    }

    &[css-class = "warning"] {
        background-color : #d8d800;
        color : $on-surface;

        &:disabled {
            background-color : #c8b800;
        }

        &:pressed {
            background-color : #d8c800;
            color : #ddd;
        }
    }

    &[css-class = "icon"] {
        padding : 10px;
        border-radius : 12px;
        background-color : transparent;

        &:hover {
            background-color : $secondary-color;
        }
    }
}


/* CheckBox widget */
QCheckBox {
    color : $on-background;
    outline : none;

    &:focus {
        color : $accent-color;
    }

    &::indicator {
        border : 2px solid $accent-color;
        width : 11px;
        height : 11px;
        border-radius : 3px;

        &::checked {
            background-color : $accent-color;
            image : url(assets/Icons/Default/Other/tick.svg);
        }

        &::disabled {
            border-color : $secondary-color;

            &::checked {
                background-color : $secondary-color;
            }
        }
    }
}


/* ComboBox widget */
#combo-box {
    border : none;
    background-color : $primary-color;
    color : $on-primary;
    padding : 5px 10px;

    &:on,
    &:editable {
        background-color : $surface-color;
        border-bottom : 2px solid $on-surface;
    }

    &::drop-down {
        width : 25px;
        height : 25px;
        border : none;
    
        subcontrol-origin : padding;
        subcontrol-position: top right;
    }

    &::down-arrow {
        image : url(assets/Icons/Default/Other/arrow-closed.png);
        width : 10px;
        height : 10px;
    }

    &::down-arrow:on {
        image : url(assets/Icons/Default/Other/arrow-open.png);
    }

    & QAbstractItemView {
        border : none;
        background-color : #212121;
        outline : none;

        &::item {
            padding : 3px 5px;
            color : #ddd;

            &:hover,
            &:focus {
                background-color : #333;
            } 
        }
    }
}


/* Line/Text-Edit widget */
QLineEdit, QTextEdit {
    border : none;
    padding : 5px;
    background-color : $primary-color;
    color : #ddd;

    &:disabled {
        background-color : $surface-color;
        color : #ccc;

        &[text=""] {
            border-bottom : 2px solid $error-color;
        }
    }

    &[readOnly='false']:focus {
        background-color : $secondary-color;
        border-bottom : 2px solid $on-secondary;
    }

    &[echoMode = "2"] {
         lineedit-password-character : 9679;
    }

    &[css-class="error"] {
        border-bottom: 2px solid $error-color;

        &:focus {
            border-bottom : 1px solid $error-color;
        }
    }
}

QLineEdit[css-class="double"]:focus {
    border-top : 2px solid #ddd;
}


/* line custom widget */
#line {
    border-color : #555;
    border-style : solid;
    border-radius : 1px;

    &[orientation="horizontal"] {
        border-bottom-width : 2px;
    }

    &[orientation="vertical"] {
        border-left-width : 2px;
    }
}


/* MenuBar & Menu widget */
QMenuBar {
    background-color: $primary-color;
    color : $on-primary;

    &::item:selected {
        background-color: $surface-color;
    }
}


QMenu {
    background-color: #121212;
    margin : 0px;
    padding : 0px;

    &::item {
        margin : 2px 0px;
        padding: 4px 60px 4px 10px;
        color : #ddd;
        font-size : 13px;

        &:disabled {
            color : #555;
        }

        &:enabled {
            &:selected {
                background-color: #333;
            }

            &:pressed {
                padding-left : 15px;
            }
        }
    }

    &::separator {
        height: 1px;
        background: #2a2a2a;
        margin : 0xp 7px;
    }
}


/* Elide Label custom widget */
#elide {
    padding-right : 50px;
}


/* ScrollBar widget */
QScrollBar {

    &:horizontal {
        height: 4px;
        padding : 4px 2px;
        margin: -20px 0px -10px 0px;
        border-radius : 2px;
    }

    &:vertical {
        width : 7px;
        padding : 2px 4px;
        border-radius : 2px;
        margin : 5px -5px 5px -5px;
        background-color : #999;
    }

    &::handle {
        background-color : $secondary-color;

        &:horizontal {
            min-width: 25px;  
        }

        &:vertical {
            min-height : 25px;
            padding : 5px;
        }

        &:horizontal:hover,
        &:vertical:hover {
            background-color: #555;
        }
    }

    &::add-line:horizontal,
    &::add-line:vertical {
        background-color : $background-color;
    }

    &::sub-line:horizontal,
    &::sub-line:vertical {
        background-color : $background-color;
    }

    &::add-page:horizontal,
    &::add-page:vertical,
    &::sub-page:horizontal,
    &::sub-page:vertical {
        background-color: none;
    }
}


/* Slider widget */
QSlider {
    padding : 5px;

    &::groove:horizontal {                    
        height: 2px;
        background-color : $secondary-color;
        margin: 0;
    }

    &::handle:horizontal {
        background-color : $secondary-color;
        border: 2px solid $accent-color;
        width: 8px;
        border-radius : 5px;
        margin: -5px -1px;

        &:horizontal:hover {
            background-color : $accent-color;
        }
    }

    &::sub-page::horizontal {
        background-color : $accent-color;
        height : 1px;
    }
}


#slider-title {
    font-size : 14px;
}

#log-text {
    font-size : 12px;
}


/* SpinBox custom widget */
#spinbox {
    background-color : transparent;
}

#spinbox-input {
    text-align : center;
}


/* CartItem custom widget */
#cart-name {
    color : $secondary-color;
    font-family : Arial;
    font-size : 14px;
    font-weight : 600;
    padding : 0px 20px 0px 0px;
}

#cart-item {
    border-bottom : 4px solid transparent;

    &:hover {
        background-color : #333;
    }

    &[css-class="selected"] {
        border-bottom-color : $on-primary;

        & #cart-name {
            color : $on-primary;
        }
    }
}


/* OptionItem custom widget  */
#option-item {
    border-left : 3px solid transparent;

    &:hover {
        background-color : $secondary-color;
    }

    &[css-class="selected"] {
        border-left-color : $on-surface;
    }
}


/* RoundItem custom widget */
#round-item {
    background-color : $surface-color;
    border : 2px solid $secondary-color;
    border-radius : 29px;

    &:hover {
        border-color : $accent-color;
    }

    &:focus,
    &[css-class="selected"] {
        border : 2px solid #ddd;
        background-color : $secondary-color;
    }
}


/* ToolItem custom widget */
#tool-item {
    background-color : transparent;
}


/* Task Item */
#task-item {
    background-color : transparent;
    border-left : 3px solid $negative-color;
    border-radius : 3px;

    &[css-class="resume"] {
        border-color : $positive-color;
    }
}

#task-name {
    font-family : Arial;
    font-size : 15px;
    font-weight : 600;
}

#simple-text, #task-status {
    color : #c0c0c0;
}


/* ToolTip widget */
QToolTip {
    background-color : #202020;
    color : #ddd;
    padding : 3px 5px;
    border-radius : 3px;
    opacity : 200;
}


/* MainWindow & Dialog widget */
QMainWindow {
    background-color: $background-color;
    color : $on-background;
}

QDialog {
    background-color : $background-color;
    color : $on-background;
}

#popup-dialog {
    background-color : transparent;
}

#popup-body {
    background-color : $background-color;
    border-bottom-right-radius : 4px;
    border-bottom-left-radius : 4px;
}

#popup-header {
    background-color : $secondary-color;
    border-top-left-radius : 4px;
    border-top-right-radius : 4px;

    &[css-class = "confirm"] {
        background-color : $accent-color;
    }

    &[css-class = "info"] {
        background-color : #53ff30;
    }

    &[css-class = "warning"] {
        background-color : #d8d800;
    }

    &[css-class = "danger"] {
        background-color : $error-color;
    }

    &__title {
        font-family : Arial;
        font-size : 16px;
        /* font-weight : 600; */
        color : $on-primary;
    }
}


/* ABOUT DIALOG */

#attr-label {
    background-color : $background-color;
}

#info-data {
    color : $accent-color;

    #info-text, & {
        font-family : Arial;
        font-size : 14px;
        font-weight : 600;
    }
}


/* ADD DIALOG */

#dialog-header {
    font-family : Arial;
    font-size : 16px;
    font-weight : 600;
    color : $on-background;

    &[text="Torrent"] {
        color : $error-color;
    }
}


#size-box {
    font-size : 14px;
    color : $on-background;
}


#error-box {
    font-family : Arial;
    font-size : 16px;
    font-weight : 600;
    color : $error-color;
}


/* TOOLBAR */

#toolbar {
    background-color : $surface-color;
}


/* BATCH DIALOG */

#tip-icon {
    padding : 2px 4px;
    border-radius : 2px;
}

#sample-box {
    padding : 5px;
    color : $on-background;
    border : 1px solid $secondary-color;
    border-radius : 4px;
}


/* AUTH BOX */

QGroupBox {
    border: 1px solid $secondary-color;
    padding : 20px  2px 5px 2px;
    border-radius: 2px;
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top left; /* position at the top center */
    padding: 0 3px;
    color : $on-background;
}

QGroupBox::indicator{
    border : 2px solid $accent-color;
    width : 11px;
    height : 11px;
    border-radius : 3px;
}

QGroupBox::indicator::checked {
    background-color : $accent-color;
    image : url(assets/Icons/Default/Other/tick.svg);
}

QGroupBox::indicator::disabled {
    border-color : #666;
}

QGroupBox QLabel {
    color : $on-background;
}


/* SAVE BOX */

#danger-state {
    color : $negative-color;
}

#ok-state {
    color : $positive-color;
}


/* Torrent Box */

#torrent-info {
    font-size : 14px;
}


/* GROUP DIALOG */

#group-dialog #dialog-header {
    font-size : 18px;
}


/* TASK LIST */

#task-list {
    outline : none;
    border : none;
    background-color: transparent;

    &::item {
        margin : 3px 5px;
        padding : 25px 10px;
        background-color : $surface-color;
        border-radius : 3px;
        border : 1px solid #212121;

        &:hover {
            background-color : #5a5a5a;
        }
    
        &:selected {
            background-color : $secondary-color;
            border : 2px solid #fff;
            border-left : none;
        }
    }
}


/* GROUP LIST */

QTreeView {
    font-family : Arial;
    font-size : 13px;
    outline : 0;
    border : none;
    background-color: transparent;

    &::item {
        border-right : 1px solid #555;
        border-bottom : 1px solid #555;
        color : $on-background;

        &:hover {
            background-color: #444;
        }

        &:selected {
            background-color : #606060;
            border-right-color : #555;
            color : $on-background;

            &:hover {
                color : #fff;
            }
        }        
    }

    & QHeaderView::section {
        background-color : $on-background;
        color : $background-color;

        border : 1px solid transparent;
        border-right-color : $background-color;

        padding-left: 5px;
        font-weight : 600;
    }
}


/* SCHEDULER QUEUE  */

#list-header {
    font-family : Arial;
    font-size : 16px;
    font-weight : 900;
}


/* SCHEDULER QUEUE LIST */

#queue-list {
    border : none;
    outline : none;
    background-color: transparent;
    font-family : Arial;
    font-size : 12px;
    font-weight : 900;

    &::item {
        padding : 7px 5px;
        width : 100px;
        color : $on-background;
        outline : none;
        border-radius : 17px;

        &:hover {
            background-color : $on-background;
            color : $background-color;
        }
        
        &:selected {
            background-color : $accent-color;
            color : $on-accent;
            font-size : 10px;
            margin : 0;
        }
    }

    &-container {
        background-color : $surface-color;
    }
}


/* SCHEDULER PROCESS */

#process-area {
    border : none;
    background-color : transparent;
}

#process-widget {
    background-color : transparent;
}


/* SCHEDULER PROCESS CONTAINER */

#process-container {
    background-color : $surface-color;
}

#container-title {
    font-family : Arial;
    font-size : 16px;
    font-weight : 600;
    color : $accent-color;
}

#danger-msg {
    color : $error-color;
    font-size : 14px;
    font-weight : 600;
    text-align : center;
}


/* SCHEDULER SETTING */

#queue-setting {
    font-size : 12px;

    & QLabel[text = 'Name'] {
        font-size : 14px;
        font-weight : 900;
    }
}


/* 
    HEADER TAB
    INFINITE TAB
    TOOL TAB
*/

#tab-widget {
    background-color : $primary-color;
}

#header-tab {
    border : none;
}

#infinite-tab {
    background-color: transparent;
}

#tool-tab {
    background-color: transparent;
}


/*  TORRENT BASE ITEM UI
    TORRENT SCROLL
    SCROLL ITEM 
    PEER SCROLL ITEM */

#torrent {

    &-base-widget {
        background-color : transparent;
    }

    &-scroll_area {
        background-color : transparent;
    }
}


#scroll-item {
    background-color : $surface-color;

    & QLabel {
        font-family : Arial;
    }

    &-name {
        color : $on-background;
        font-size : 14px;
        font-weight : 600;
        margin-top : 5px;
        margin-bottom : 5px;
    }

    &-name[text="DHT"],
    &-name[text="LSD"],
    &-name[text="PeX"] {
        color : $accent-color;
    }

    &-name[css-class="bold"] {
        font-size : 20px;
        font-weight : 800;
    }

    &-state {
        font-size : 12px;
        padding-left : 4px;
        color : #ccc;
    }

    &-state[css-class="bold"] {
        font-size : 14px;
        font-weight : 600;
    }
}

#peer-scroll-item {
    background-color : $surface-color;

    & QLabel {
        font-family : Arial;
        font-size : 12px;
        color : $on-background;
    }
}

#client {
    font-size : 16px;
    font-weight : bold;

    &[css-class = 'seeder'] {
        color : $positive-color;
    }
    
    &[css-class = 'leecher'] {
        color : $negative-color;
    }
}

#progress {
    color : $on-surface;
    font-size : 13px;
}


/* TORRENT FILE UI */

#file-message {
    font-size : 14px;
    font-weight : bold;
    color : $on-background;
}

#file-info {
    color : #aaa;
}


/* CONFIRM POPUP */

#popup-message {
    font-family : Arial;
    font-size : 14px;
    font-weight : 600;
}


/* DELETE POPUP */

#delete-message {
    font-size : 16px;
    color : $error-color;
}

#name-scroll {
    background-color : $background-color;
    font-size : 12px;
}

