$primary-color : #202020;
$secondary-color : #606060;
$accent-color : #1197ff;

$background-color : #303030;
$surface-color : #404040;

$error-color : #ff4900;

$on-primary : #fff;
$on-secondary : #ccc;
$on-background : #ddd;
$on-surface : #ddd;
$on-error : #fff;
$on-accent : #303030;

$positive-color : #00ff92;
$negative-color : #ff4900;

$font-family : none;
$font-size : none;
$font-weight : none;


