/* 
    Light StyleSheet
    Author : SAH256

*/



$primary-color : #0c6eff;
$primary-variant : #5132fd;

$secondary-color : #ddd;

$accent-color : #0066ff;

// gree : #13fc98
// gree : #00ff92
// gree : #00d479
// gree : #00a75f
// purpl : #3636fc
// purpl : #1212ff
// purpl : #0000ab
// purpl : #010186
// blu : #0894ff
// red : #ff5613
// red : #ff4900
// red : #f44500
// red : #c03700
// red : #a11c4d
// yello : #ffc413
// yello : #ffbf00
// yello : #f4b700
// yello : #c09000

$background-color : #fff;
$surface-color : #fff;

// $error-color : #ff3233;
$error-color : #ff4900;


$primary-disabled : none;
$primary-hover : #dbefff;
$primary-focus : #d2ebff;
$primary-active : none;


$error-disabled : none;
$error-hover : none;
$error-focus : none;
$error-active : none;



$disabled-color : #ccc;
$hover-color : darken($secondary-color, 4);
$focus-color : darken($secondary-color, 5);
$active-color : darken($secondary-color, 6);


$on-primary : #fff;
$on-secondary : #353535;
$on-background : #222;
$on-surface : #444;
$on-error : #fff;


// border-color
// menu-back
// menu-hover
// category-hover
// category-border
// tree-hover-back
// tree-hover-color
// tree-select-back
// tree-select-color

/* Button widget */

QPushButton {
    padding : 6px 10px;
    border-radius : 4px;
    border : 2px solid transparent;
    outline : none;
    background-color : $secondary-color;
    color : $on-secondary;
    
    font-family : Arial;
    font-size : 14px;
}

QPushButton:disabled {
    background-color : $disabled-color;
    color : $on-surface;
}

QPushButton:hover {
    background-color : $hover-color;
}

QPushButton:pressed {
    background-color : $active-color;
    color : lighten($on-secondary, 15);
}

    
QPushButton:menu-indicator {
    width : 10px;
    height : 100%;
    subcontrol-position : right center;
    subcontrol-origin : padding;
    
    image : url("assets/Icons/Default/Other/arrow_down_white.png");
    padding : 2px 5px 2px 0px;
}

QPushButton[css-class = "confirm"] {
    background-color : $accent-color;
    color : $on-primary;
}

QPushButton[css-class = "confirm"]:disabled {
    background-color : $disabled-color;
    color : lighten($on-surface, 30);
}
    
QPushButton[css-class = "confirm"]:focus {
    background-color: $background-color;
    border-color: $primary-color;
    color : $primary-color;
}

QPushButton[css-class = "confirm"]:pressed {
    background-color : $on-primary;
    color : $primary-color;
}



QPushButton[css-class = "danger"] {
    background-color : $error-color;
    color : $on-error
}


QPushButton[css-class = "danger"]:disabled {
    background-color : darken($error-color, 30);
}
    
QPushButton[css-class = "danger"]:focus {
    background-color: $background-color;
    border-color: $error-color;
    color : $error-color
}

QPushButton[css-class = "danger"]:pressed {
    background-color : $on-error;
    color : $error-color;
}


QPushButton[css-class = "warning"] {
    background-color : #d8d800;
    color : $on-surface;
}


QPushButton[css-class = "warning"]:disabled {
    background-color : #c8b800;

}

QPushButton[css-class = "warning"]:pressed {
    background-color : #d8c800;
    color : #ddd;
}

QPushButton[css-class = "icon"] {
    padding : 10px;
    border-radius : 12px;
    background-color : transparent;
}

QPushButton[css-class = "icon"]:hover {
    background-color : $hover-color;
}



/* CheckBox widget */

QCheckBox::indicator{
    border : 2px solid $primary-color;
    width : 11px;
    height : 11px;
    border-radius : 3px;
}


QCheckBox::indicator::checked {
    background-color : $primary-color;
    image : url(assets/Icons/Default/Other/tick.svg);
}


QCheckBox::indicator::disabled {
    border-color : $disabled-color;
}

QCheckBox::indicator::disabled::checked {
    background-color : $disabled-color;
}


/* ComboBox widget */

QComboBox {
    border : none;
    background-color : darken($surface-color, 7%);
    padding : 5px 10px;
    /* min-width : 6em; */
}

QComboBox:on,
QComboBox:editable {
    border-top : 2px solid $primary-color;
    border-bottom : 2px solid $primary-color;

    background-color : $background-color;
}

QComboBox::drop-down {
    width : 25px;
    height : 25px;

    border : none;

    subcontrol-origin : padding;
    subcontrol-position: top right;
}


QComboBox QAbstractItemView {
    // border : 1px solid $on-surface;
    background-color : darken($surface-color, 15);
    outline : none;
}


QComboBox QAbstractItemView::item {
    padding : 3px 5px;
}


QComboBox::down-arrow {
    image : url(assets/Icons/Default/Other/arrow-closed.png);
    width : 10px;
    height : 10px;
}

QComboBox::down-arrow:on {
    image : url(assets/Icons/Default/Other/arrow-open.png);
    
}



/* LineEdit widget */

QLineEdit {
    border : none;
    padding : 5px;
    background-color : darken($surface-color, 10%);
}

QLineEdit:disabled {
    color : darken($on-surface, 10%);
    background-color : darken($surface-color, 15%);
}

QLineEdit:disabled[text=""] {
    border-bottom : 2px solid $error-color;
}

QLineEdit:focus {
    background-color : $background-color;
    border-bottom : 2px solid $primary-color;
}

QLineEdit[echoMode = "2"] {
     lineedit-password-character : 9679;
}

QLineEdit[cssClass="double"]:focus {
    border-top : 2px solid $primary-color;
}

QLineEdit[cssClass="error"] {
    border-bottom: 2px solid $error-color;
}

QLineEdit[cssClass="error"]:focus {
    border-bottom : 1px solid $error-color;
}



/* TextEdit widget */

QTextEdit {
    border : none;
    padding : 5px;
    background-color : darken($surface-color, 10%);
}

QTextEdit:disabled {
    color : darken($on-surface, 10%);
    background-color : darken($surface-color, 15%);
}

QTextEdit:disabled[text=""] {
    border-bottom : 2px solid $error-color;
}

QTextEdit:focus {
    background-color : $background-color;
    border-bottom : 2px solid $primary-color;
}

QTextEdit[css-class="error"] {
    border-bottom: 2px solid $error-color;
}

QTextEdit[css-class="error"]:focus {
    border-bottom : 1px solid $error-color;
}



/* line custom widget */

#line {
    border-color : $secondary-color;
    border-style : solid;
    border-radius : 1px;
}

#line[orientation="h"] {
    border-bottom-width : 2px;
}

#line[orientation="v"] {
    border-left-width : 2px;
}



/* Menu widget */

QMenuBar {
    background-color: $primary-color;
    color : $on-primary;
}

QMenuBar::item:selected {
    background-color: lighten($primary-color, 5);
}

QMenu {
    background-color: $on-surface;
    margin : 0px;
    padding : 0px;
}

QMenu::item {
    margin : 2px 0px;
    padding: 4px 40px 4px 10px;
    color : $surface-color;
    font-size : 14px;
}

QMenu::item:disabled {
    color : darken($disabled-color, 10%);
}

QMenu::item:enabled:selected {
    background-color: lighten($on-surface, 20%);
}

QMenu::item:enabled:pressed {
    padding-left : 15px;
}

QMenu::separator {
    height: 1px;
    background: $secondary-color;
    margin : 0xp 7px;
}


/* Elide Label custom widget */

#elide {
    padding-right : 50px;
}



/* ScrollBar widget */

QScrollBar:horizontal {
    height: 4px;
    padding : 4px 2px;
    margin: -20px 0px -10px 0px;
    border-radius : 2px;
}

QScrollBar:vertical {
    width : 7px;
    padding : 2px 4px;
    border-radius : 2px;
    margin : 5px -5px 5px -5px;
}

QScrollBar::handle {
    background-color : lighten($on-surface, 60%);
}

QScrollBar::handle:horizontal {
    min-width: 25px;  
}

QScrollBar::handle:vertical {
    min-height : 25px;
    padding : 5px;
}

QScrollBar::handle:horizontal:hover,
QScrollBar::handle:vertical:hover {
    background-color: lighten($on-surface, 45%);
}

QScrollBar::add-line:horizontal,
QScrollBar::add-line:vertical {
    background-color : $background-color;
}

QScrollBar::sub-line:horizontal,
QScrollBar::sub-line:vertical {
    background-color : $background-color;
}



/* Slider widget */

QSlider {
    padding : 5px;
}

QSlider::groove:horizontal {
                
    height: 2px;
    background: lighten($on-surface, 65%);
    margin: 0;
}

            
QSlider::handle:horizontal {
    background-color : $surface-color;
    border: 2px solid $primary-color;
    width: 8px;
    border-radius : 5px;
    margin: -5px -1px;
}

QSlider::handle:horizontal:hover {
    background-color : $primary-color;
}

QSlider::sub-page::horizontal {
    background-color : $primary-color;
    height : 1px;
}

#slider-title {
    font-size : 13px;
    color : $primary-color;
}


/* SpinBox custom widget */

#spinbox {
    background-color : $surface-color;
}

#spinbox-input {
    text-align : center;
}



/* CartItem custom widget */

#cart-name {
    color : $secondary-color;
    font-family : Arial;
    font-size : 14px;
    font-weight : 600;
    padding : 0px 20px 0px 0px;
}

#cart-item {
    border-bottom : 4px solid transparent;
    // background-color : $primary-color;
}

#cart-item:hover {
    background-color : lighten($primary-color, 3%);
}

#cart-item[css-class="selected"] {
    border-bottom-color : $secondary-color;
}

#cart-item[css-class="selected"] #cart-name {
    color : $on-primary;
}



/* OptionItem custom widget  */

#option-item {
    border-left : 3px solid transparent;
}

#option-item:hover {
    background-color : $primary-hover;
}

#option-item[css-class="selected"] {
    border-left-color : $primary-color;
}



/* RoundItem custom widget */

#round-item {
    background-color : $surface-color;
    border : 2px solid $secondary-color;
    border-radius : 29px;
}

#round-item:hover {
    border : 2px solid $primary-hover;
}

#round-item[css-class="selected"],
#round-item:focus {
    border : 2px solid $primary-color;
    background-color : $primary-focus;
}



/* ToolItem custom widget */

#tool-item {
    background-color : transparent;
}

QToolTip {
    background-color : lighten($on-surface, 10);
    color : $secondary-color;
    padding : 3px 5px;
    border-radius : 3px;
    opacity : 200;
}



/* Dialog widget */

QMainWindow {
    background-color: $background-color;
    color : $on-background;
}

QDialog {
    background-color : $background-color;
    color : $on-background;
}

#popup-dialog {
    background-color : transparent;
}

#popup-body {
    background-color : $background-color;
    border-bottom-right-radius : 4px;
    border-bottom-left-radius : 4px;
}


#popup-header {
    background-color : lighten($on-surface, 15);
    border-top-left-radius : 4px;
    border-top-right-radius : 4px;
}

#popup-header[css-class = "confirm"] {
    background-color : #4096ff;
}

#popup-header[css-class = "info"] {
    background-color : #53ff30;
}

#popup-header[css-class = "warning"] {
    background-color : #d8d800;
}

#popup-header[css-class = "danger"] {
    background-color : $error-color;
    /* background-color : #fd0046; */
}

#popup-header__title {
    font-family : Arial;
    font-size : 16px;
    /* font-weight : 600; */
    color : $on-primary;
}



/* ################################ END OF BASE PART ##################################### */


/* ABOUT DIALOG */

// #about-dialog QLabel,
#attr-label {
    background-color : $background-color;
}

#about-dialog QLabel {
    font-family : Arial;
    font-size : 14px;
    font-weight : 600;
    color : $on-surface;
}

#app-info {
    font-size : 16px;
    color : $primary-color;
}



/* ADD DIALOG */

#dialog-header {
    font-family : Arial;
    font-size : 16px;
    font-weight : 600;
    color : $primary-color;
}

#dialog-header[text="Torrent"] {
    color : $error-color;
}

#size-box {
    font-size : 14px;
    color : $primary-color;
}


#error-box {
    font-family : Arial;
    font-size : 16px;
    font-weight : 600;
    color : $error-color;
}



/* TOOLBAR */

#toolbar {
    background-color : $surface-color;
}



/* BATCH DIALOG */

#tip-icon {
    padding : 2px 4px;
    border-radius : 2px;
}

#sample-box {
    padding : 5px;
    color : $on-surface;
    border : 1px solid $secondary-color;
    border-radius : 4px;
}



/* AUTH BOX */

#auth-box {
    border: 1px solid $secondary-color;
    padding : 20px  2px 5px 2px;
    border-radius: 2px;
}

#auth-box::title {
    subcontrol-origin: margin;
    subcontrol-position: top left; /* position at the top center */
    padding: 0 3px;
}

#auth-box::indicator{
    border : 2px solid $primary-color;
    width : 11px;
    height : 11px;
    border-radius : 3px;
}

#auth-box::indicator::checked {
    background-color : $primary-color;
    image : url(assets/Icons/Blue/Other/tick.svg);
}


#auth-box::indicator::disabled {
    border-color : $disabled-color;
}



/* SAVE BOX */

#save-box {
    color : $on-surface;
}

#danger-state {
    color : #ff5613;
}

#ok-state {
    color : #00d479;
}



/* GROUP DIALOG */

#group-dialog #dialog-header {
    font-size : 18px;
}



/* TASK LIST */

#task-list {
    outline : none;
    border : none;
    background-color: transparent;
}

#task-list::item {
    margin : 3px 5px;
    padding : 25px 10px;
    background-color : $surface-color;
    border-radius : 3px;
    border : 1px solid #ddd;
    outline : 1px solid gray;
}

#task-list::item:hover {
    background-color : #c2d7fc;
}

#task-list::item:selected {
    background-color : #cbebff;
    border : 2px solid $primary-color;
}



/* GROUP LIST */

#group-list {
    font-family : Arial;
    font-size : 13px;
    outline : 0;
    border : none;
}

#group-list::item {
    border-right : 1px solid #ddd;
    border-bottom : 1px solid #ddd
}

#group-list::item:hover {
    background: #a7c3ff;
    border-top : 1px solid #1452f4;
    border-bottom : 1px solid #1452f4;
}

#group-list::item:selected {
    background-color : #1452f4;
    border-right-color : white;
    color : white;
}


#group-list::item:hover:selected {
    color : white;
    border-radius : 2px;
}

#group-list QHeaderView::section {

    background-color : white;

    border : 2px solid $primary-color;
    border-left : none;
    border-right : none;
    border-top : none;

    border-right : 1px solid #bbb;

    padding-left: 5px;
    font-weight : 600;
}



/* SCHEDULER FILE TABLE */

#queue-task-table {
    outline : none;
    border : none;
}

#queue-task-table::item {
    border-right : 1px solid $secondary-color;
    border-bottom : 1px solid $secondary-color;
    font-size : 12px;
}

#queue-task-table::item:selected {
    background-color : #1452f4;
    border-right-color : white;
    color : white;
}

#queue-task-table::item:hover:selected {
    color : white;
    border-radius : 2px;
}

#queue-task-table QHeaderView::section {
    
    background-color: $background-color;
    color: $primary-color;
    border : none;
    border-right: 1px solid $secondary-color;
    border-bottom: 2px solid $primary-color;
    padding-left: 4px;
    font-weight : 600;
}



/* SCHEDULER QUEUE  */

#list-header {
    font-family : Arial;
    font-size : 16px;
    font-weight : 900;

    color : $on-background
}



/* SCHEDULER QUEUE LIST */

#queue-list {
    border : none;
    outline : none;

    background-color: $background-color;

    font-family : Arial;
    font-size : 12px;
    font-weight : 900;
}

#queue-list::item {
    padding : 7px 5px;
    width : 100px;
    color : $on-background;
    outline : none;
    border-radius : 17px;

}

#queue-list::item:hover {
    background-color : $secondary-color;
    color : $on-surface;
}

#queue-list::item:selected {
    background-color : $primary-color;
    color : $on-primary;
    font-size : 10px;
    margin : 0;
}



/* SCHEDULER PROCESS */

#process-area {
    border : none;
    background-color : transparent;
}

#process-widget {
    background-color : transparent;
}



/* SCHEDULER PROCESS CONTAINER */

#process-container {
    background-color : $surface-color;
}

#container-title {
    font-family : Arial;
    font-size : 16px;
    font-weight : 600;
    color : $primary-variant;
}

#danger-msg {
    color : $error-color;
    font-size : 14px;
    font-weight : 600;
    text-align : center;
}



/* SCHEDULER SETTING */

#queue-setting QLabel {
    font-size : 12px;
    color : $on-background;
}

#queue-setting QLabel[text = 'Name'] {
    font-size : 14px;
    font-weight : 900;
    color : $primary-color;
}



/* HEADER TAB */

#header-tab {
    border : none;
}

#tab-widget {
    background-color : $primary-color
}



/* INFINITE TAB */

#infinite-tab {
    background-color: transparent;
}



/* Tool tab */

#tool-tab {
    background-color: transparent;
}



/* TORRENT BASE ITEM UI */

#torrent-base-widget,
#torrent-scroll-item,
#peer-scroll-item {
    background-color : $background-color;
}



/* TORRENT SCROLL */

#torrent-scroll_area {
    background-color : $background-color;
}



/* SCROLL ITEM */

#torrent-scroll-item QLabel {
    font-family : Arial;
}

#scroll-item-name {
    color : $primary-color;
    font-size : 14px;
    font-weight : 600;
    margin-top : 5px;
    margin-bottom : 5px;
}

#scroll-item-name[css-class="Bold"] {
    font-size : 20px;
    font-weight : 800;
}

#scroll-item-state {
    font-size : 12px;
    padding-left : 4px;
    color : $on-surface;
}


#scroll-item-state[css-class="Bold"] {
    font-size : 14px;
    font-weight : 600;
}


#scroll-item-name[text="DHT"],
#scroll-item-name[text="LSD"],
#scroll-item-name[text="PeX"] {
    color : $primary-color;
}


/* #scroll-item-name[css-class='tracker'] {
    color : #3a66e5;
} */

#scroll-item-state[css-class='tracker'] {
    // color : #2b2b2b;
    color : $on-surface;
}



/* PEER SCROLL ITEM */

#peer-scroll-item QLabel {
    font-family : Arial;
    font-size : 12px;
}

#client {
    font-size : 16px;
    font-weight : bold;
}

#client[css-class = 'seeder'] {
    color : #10df1e;
}

#client[css-class = 'leecher'] {
    color : #ef2938;
}

#progress {
    // color : #2b2b2b;
    color : $on-surface;
    font-size : 13px;
}



/* TORRENT FILE UI */

#file-message {
    /** font-family : Arial; **/
    font-size : 14px;
    font-weight : bold;
    color : $on-background;
}

#file-info {
    color : $on-surface;
}



/* TORRENT FILE TREE */

#file-tree {
    outline : 0;
    border : none;
}

#file-tree::item {
    border-right : 1px solid $secondary-color;
    border-bottom : 1px solid $secondary-color;
    color : $on-background;
}
    

#file-tree::item:hover {
    background: #a7c3ff;
    // border-top : 1px solid #1452f4;
    border-bottom : 1px solid $primary-color;
}


#file-tree::item:selected {
    background-color : $primary-color;
    border-right-color : white;
    color : white;
}


#file-tree::item:hover:selected {
    color : white;
    border-radius : 2px;
}

#file-tree QHeaderView::section {

    background-color : white;
    color : $primary-color;

    border : 2px solid $primary-color;
    border-left : none;
    border-right : none;
    border-top : none;

    border-right : 1px solid #bbb;
    
    padding-left: 5px;
    font-weight : 600;
}



/* CONFIRM POPUP */

#popup-message {
    font-family : Arial;
    font-size : 14px;
    font-weight : 600;
    color : $on-background;
}


/* DELETE POPUP */

#delete-message {
    font-size : 16px;
    color : red;
}

#name-scroll {
    background-color : $background-color;
    color : $on-background;

    font-size : 12px;

}


