$primary-color : #086fa1;
$secondary-color : #d8d8d8;
$accent-color : #3e8bb0;

$background-color : #fff;
$surface-color : #fff;

$error-color : #ff3100;

$on-primary : #fff;
$on-secondary : #383838;
$on-background : #333;
$on-surface : #555;
$on-error : #fff;
$on-accent : #fff;

$positive-color : #00b74a;
$negative-color : #ff3100;

$font-family : none;
$font-size : none;
$font-weight : none;


